<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfAppZooManager_Database.Properties.Settings.UesliDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-D2090T7\SQLEXPRESS;Initial Catalog=UesliDatabase;Persist Security Info=True;User ID=SA;Password=Uesliislaska1234.;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>